.full-container {
  width: "100%";
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background: rgb(251, 251, 251);
  background: linear-gradient(
    0deg,
    rgba(251, 251, 251, 1) 15%,
    rgba(57, 126, 217, 1) 100%
  );
}
.header {
  width: 100%;
  background-color: #397ed9;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header h2 {
  width: 80%;
  color: white;
  font-size: 21px;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.main-text {
  color: white;
  width: 80%;
  text-align: center;
}
.input-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}
.input1 {
  width: 40%;
  position: relative;
}
.input {
  width: 100%;
  padding: 25px;
  /* padding-bottom: 150px; */
  height: 200px;
  border-radius: 6px;
  border: 0;
  outline: none;
  resize: none;
  box-shadow: 2px 4px 8px rgba(0.6, 0.6, 0.6, 0.6);
  font-size: 16px;
  box-sizing: border-box;
  overflow: hidden;
}
.x-button1 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.input2 {
  width: 40%;
  position: relative;
}
.output {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  height: 200px;
  border-radius: 6px;
  border: 0;
  outline: none;
  resize: none;
  background-color: rgb(220, 216, 216);
  box-shadow: 2px 4px 8px rgba(0.6, 0.6, 0.6, 0.6);
  font-size: 16px;
}
.x-button2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.check-button {
  background-color: #397ed9;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.source-container {
  padding-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.source-container h2 {
  color: white;
  font-size: 24px;
}
.source-container a {
  color: black;
  /* text-decoration: none; */
  /* border-bottom: 1px solid black; */
  font-size: 18px;
  font-weight: bold;
}
.sources {
  padding-top: 4px;
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 50%; */
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.last-info-container {
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  box-sizing: border-box;
}
.last-info-container h2 {
  /* color: white; */
  font-size: 24px;
  text-align: center;
}
.info-card-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.info-card {
  width: 230px;
  height: 120px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0.4, 0.4, 0.4, 0.4);
}
.info-card h2 {
  font-size: 17px;
}
.info-card p {
  font-size: 13px;
  text-align: center;
}
